# Eat Safe, Love

## Notebook Set Up

In [34]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [35]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [36]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [37]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [38]:
# assign the collection to a variable
establishment = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [39]:
# Find the establishments with a hygiene score of 20
match_query = {'$match': {'scores.Hygiene': {'$gte': 20}}}
pipeline = [match_query]
results = list(establishment.aggregate(pipeline))
    
# Use count_documents to display the number of documents in the result
print(len(results))
# Display the first document in the results using pprint
pprint(results)

0
[]

In [40]:
# Convert the result to a Pandas DataFrame
Hygiene_df = pd.DataFrame(results)

# Display the first 10 rows of the DataFrame
Hygiene_df.head(10)

Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [41]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
match_query = {'$match': {'AddressLine3' : "London"}} #, 'RatingValue': {'$gte': 4}
pipelines = [match_query]
result = list(establishment.aggregate(pipelines))
    
# Use count_documents to display the number of documents in the result
print(len(result))
# Display the first document in the results using pprint
pprint(result)

2
[{'AddressLine1': 'Penang Flavours',
  'AddressLine2': '146A Plumstead Rd',
  'AddressLine3': 'London',
  'AddressLine4': '',
  'BusinessName': 'Penang Flavours',
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': 1,
  'Distance': 4623.972328074718,
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': True,
  'Phone': '',
  'PostCode': 'SE18 7DY',
  'RatingValue': None,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('64fbcfe5b6ae25d16ef49417'),
  'geocode': {'latitude': 51.490142, 'longitude': 0.08384},
  'scores': {'ConfidenceInManagement': '', 'Hygiene': '', 'Structural': ''}},
 {'AddressLine1': 'Penang Flavours',
  'AddressLine2': '146A Plumstead Rd',
  'AddressLine3': 'London',
  'AddressLine4': '',
  'BusinessName': 'Penang Flavours',
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': '',
  'Distance': 4623.972328074718,
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': True,
  'Phone': '',
  'PostCode': 'SE18 7DY',
  'RatingValue': None,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('6532c505b9686470b2273e6c'),
  'geocode': {'latitude': 51.490142, 'longitude': 0.08384},
  'scores': {'ConfidenceInManagement': '', 'Hygiene': '', 'Structural': ''}}]

In [42]:
# Convert the result to a Pandas DataFrame
rating_df = pd.DataFrame(result)

# Display the first 10 rows of the DataFrame
rating_df.head(10)

,_id,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,AddressLine4,PostCode,Phone,...,LocalAuthorityName,LocalAuthorityWebSite,LocalAuthorityEmailAddress,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,RatingValue
0,64fbcfe5b6ae25d16ef49417,Penang Flavours,Restaurant/Cafe/Canteen,1,Penang Flavours,146A Plumstead Rd,London,,SE18 7DY,,...,Greenwich,http://www.royalgreenwich.gov.uk,health@royalgreenwich.gov.uk,"{'Hygiene': '', 'Structural': '', 'ConfidenceI...",FHRS,"{'longitude': 0.08384, 'latitude': 51.490142}",,4623.972328,True,None
1,6532c505b9686470b2273e6c,Penang Flavours,Restaurant/Cafe/Canteen,,Penang Flavours,146A Plumstead Rd,London,,SE18 7DY,,...,Greenwich,http://www.royalgreenwich.gov.uk,health@royalgreenwich.gov.uk,"{'Hygiene': '', 'Structural': '', 'ConfidenceI...",FHRS,"{'longitude': 0.08384, 'latitude': 51.490142}",,4623.972328,True,None

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [43]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 0.08384000
longitude = 51.49014200

query = {'$match': {'geocode.latitude': {'$gte': 0.09, '$lt': 0.07},
                    'geocode.latitude': {'$gte': 51.50, '$lt': 51.48}, 
                    'RatingValue': {'$gte': 5}
                          }
              }
sort = {'$sort': { 'scores.Hygiene': 1}}

pipelines_ = [query, sort]
result_ = list(establishment.aggregate(pipelines_))

# Print the results
pprint(result_)

[]

In [45]:
# Convert the result to a Pandas DataFrame
location_df = pd.DataFrame(result_)

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [46]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
match_query = {'$match': {'scores.Hygiene': {'$gte': 0},
                         }
              }
sort_values = {'$sort': { 'scores.Hygiene': 1 }}

# Put the pipeline together
pipeline = [match_query, sort_values]
result = list(establishment.aggregate(pipeline))
# Print the number of documents in the result
print(len(result))
# Display the first document in the results using pprint
pprint(result)

0
[]

In [47]:
# Convert the result to a Pandas DataFrame
hy_df = pd.DataFrame(result)

# Display the first 10 rows of the DataFrame
hy_df.head(10)

Empty DataFrame
Columns: []
Index: []